/* Width < 600px (phone) */
@media all and (max-width: 600px) {
  .form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 30%;
    margin-top: 5%;
  }

  .search-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .sm-collapse {
    display: none;
  }

  form {
    margin-top: 5%;
    grid-template-columns: 40% 50%;
  }
}

/*  600px < Width < 1000px (tablet)  */
@media all and (min-width: 600px) and (max-width: 1000px) {
  .form-grid {
    display: grid;
    grid-template-columns: 40% 45%;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    margin-top: 5%;
  }

  .mid-collapse {
    display: none;
  }

  .search-grid {
    display: grid;
    grid-template-columns: 60% 10%;
    column-gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .seat-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5%;
  }
}

/* Width >= 1000px (Desktop) */
@media all and (min-width: 1000px) {
  .form-grid {
    display: grid;
    grid-template-columns: 35% 55%;
  }

  form {
    margin-top: 2%;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-top: 2%;
  }

  .search-grid {
    display: grid;
    grid-template-columns: 50% 5%;
    column-gap: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}
