/* Width < 600px (phone) */
@media all and (max-width: 600px) {
  .form-grid {
    display: grid;
    grid-template-columns: 40% 50%;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 30%;
    margin-top: 5%;
  }

  form {
    margin-top: 5%;
    grid-template-columns: 40% 50%;
  }
}

/*  600px < Width < 1000px (tablet)  */
@media all and (min-width: 600px) and (max-width: 1000px)  {
  .form-grid {
    display: grid;
    grid-template-columns: 20% 40%;
  }

    .button-grid {
      display: grid;
      grid-template-columns: 20% 20%;
      column-gap: 20%;
      margin-top: 5%;
    }
}

/* Width >= 1000px (Desktop) */
@media all and (min-width: 1000px) {
  .form-grid {
    display: grid;
    grid-template-columns: 15% 20%;
  }

  form {
    margin-top: 2%;
  }

  .button-grid {
    display: grid;
    grid-template-columns: 15% 15%;
    column-gap: 5%;
    margin-top: 2%;
  }
}

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}
